
<section><div class="pad-card">
<div class="card">
    <h2 class="card-header">Vehicle Detail</h2>
    <div class="card-body">
      <h3 class="card-title">ManuFactured By :</h3>
      <p class="card-text">{{vehicleDetail?.make}}</p>

      <h3 class="card-title">Model :</h3>
      <p class="card-text">{{vehicleDetail?.model}}</p>


      <h3 class="card-title">Year of ManuFactured :</h3>
      <p class="card-text">{{vehicleDetail?.year}}</p>


      <h3 class="card-title">Vehicle Identification Number (VIN) :</h3>
      <p class="card-text">{{vehicleDetail?.vin}}</p>
    </div>
  </div>

</div></section>